#macOS
.DS_Store

#fish config
applications/fish/config/fish_variables
applications/fish/config/conf.d

#nvim lock-file
applications/nvim/config/nvim-pack-lock.json

#Backup files
*.bak

#Neovim
*.swp
*.swo
*.swn
*.un~
